/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
.col2-row1{padding-right: 0;}
.col2-row1 .col-bw{width: 109px;float: left;}
.col2-row1 span{float: left;margin: 0 5px;line-height: 29px;}
.no-sort{background:none !important;}
.add-batch,.remove-batch{margin-top: 28px;}
.add-to-cart{margin-top: 25px;padding: 6px 8px 6px 8px !important;}
.alertify-logs{z-index: 99999;}
.select-add-product{color: #fff;width: 100%;}
.select-add-product i{color: #fff;}
.import-process h3{margin-top: 0;color: #3598dc;font-weight: 600;font-size: 15px;margin-bottom: 20px;}
.import-process ol,.import-process ul{padding: 0;padding-left: 14px;}
.import-process ol li,.import-process ul li{margin: 3px 0;}
.import-process .follow-txt{margin-bottom: 2px;}
.import-file{visibility: hidden;height: 0;}
.full-width{float: left;width: 100%;}
.height80{height: 100px;}
.col-pad{padding: 0 5px}
.pad-left15{padding-left: 15px;}
.pad-right15{padding-right: 15px;}
label{font-size: 13px;}
hr{margin: 10px 0;}
.blue-btn{color: #217ebd}
.red-btn{color: red}
.invoice-block{text-align: right;}
.invoice-block .amounts {
    margin-top: 20px;
    font-size: 14px;
}
.add-to-cart label{margin-bottom: 0;}
.invoice-xtra-sec{margin-top: 20px;}
.invoice-xtra-sec label{font-size: 14px;}
.form-control{height: 30px;padding: 4px 12px;}
.modal-header{padding: 8px 15px;}
.modal .modal-header .close {
    margin-top: 5px !important;
}
.xtra-row{    margin: 10px 1px;display: block;float: left;width: 100%;    height: 25px;}
.xtra-row .col input{width: 80px;    margin: 0 5px;}
.xtra-row .col{float: left;    margin: 0 5px;}
.xtra-row .col input,.xtra-row .col select,.xtra-row .col span{display: inline-block;}
.xtra-row .col select{width: 100px;}
.xtra-row .col .fa{margin-left: -25px;}
.shipping-options,.discount-options,.shipping-total{display: none;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.invoice-action{position: relative;display: contents;}
.invoice-action a{position: absolute;bottom: 17px;}
.preview-content{right: 130px;}
.save-invoice{right: 10px;}
.shipTo{color: #929292;}
.modal-scrollable {overflow: hidden !important;}
.modal-overflow{height: 650px;}
/*#invoice-preview-modal .modal-header{position: fixed;width: 100%;    box-shadow: 0 2px 4px rgba(0,0,0,0.08);
    border-bottom: 1px solid #e1e1e1;
    background: #fff;
    padding: 15px 20px;z-index: 99}*/
#invoice-preview-modal .modal-body{max-height: calc(100vh - 65px);overflow-y: auto;}
#invoice-preview-modal .preview-invoice-body{margin-top: 70px;}