@import url("https://fonts.googleapis.com/css?family=Martel+Sans:400,600,800|Open+Sans:400,600,800&subset=devanagari");
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
	.preview-container{width: 990px;margin: 0 auto;}
	.page {width: 100%;table-layout: fixed;font-family: 'Open Sans', 'Martel Sans', sans-serif;color: #7a858f;line-height: 22px;}
	.page td {width: 100%;}
	.document-details {position: relative;}
	.document-details .document-label {text-align: right;font-size: 14px;line-height: 24px;font-weight: 600;}
	.data {float: right;margin-bottom: 20px;color: #3a3030;text-align: right;width: 50%;}
	.data .data__identifier {margin-bottom: 25px;padding-left: 15px;font-size: 28px;line-height: 32px;color: #28354d;font-weight: 600;text-transform: uppercase;}
	.data .data__identifier .invoice-label {color: #28354d;}
	.data .invoice-label {float: left;}
	.data .data__amount-due {background-color: #2a6282 !important;border: 1px solid #2a6282;color: #fff;padding: 0 15px;font-size: 14px;line-height: 30px;margin-bottom: 15px;padding-left: 15px;}
	.data .data__amount-due .invoice-label {color: #fff;}
	.organization {width: 48%;padding-right: 10px;float: left;margin-bottom: 20px;color: #3a3030;}
	.organization .organization__name {font-size: 28px;line-height: 32px;margin-bottom: 34px;color: #06263a;font-weight: 800;}
	.cliven {clear: both;width: 100%;margin-bottom: 20px;color: #3a3030;}
	.cliven .cliven__billing {float: left;width: 46%;padding-right: 10px;}
	.cliven .cliven__shipping {float: right;width: 49%;padding-left: 15px;}
	.cliven h3 {font-size: 13px;font-weight: 600;color: #06263a;margin: 0;}
	.cliven .cliven__name {font-size: 14px;font-weight: 600;color: #06263a;}

	table {border-collapse: collapse;border-spacing: 0;}
	.line-items{display: block;margin-top: 20px;}
	.line-items table {table-layout: fixed;border-collapse: separate;width: 100%;color: #3a3030;}
	.line-items th, .line-items td {text-align: right;font-size: 13px;}
	.line-items thead {display: table-header-group;}
	
	.line-items th span,.line-items td span{display: block;font-size: 11px;}
	.line-items thead th {padding: 5px 3px;line-height: 18px;background-color: #2a6282 !important;border-top: 1px solid #2a6282;
		border-right: 1px solid #2a6282;border-bottom: 1px solid #2a6282;color: #fff;font-weight: 600;
    	white-space: nowrap;text-overflow: ellipsis;text-overflow: ellipsis-word;text-overflow: clip;overflow: hidden;vertical-align: middle;}
   
    .line-items thead th:first-child {border-left: 1px solid #2a6282;}
    .line-items thead th:last-child {padding-right: 7px;}
    .line-items tbody tr:first-child td {padding-top: 10px;}
    .line-items tbody td {font-size: 12px;line-height: 20px;padding: 1px 3px;}
    .line-items tbody td {border-right: 1px solid #e3e6ea;font-weight: 600;}
   	
   	.line-items .line-item-row__index{font-size: 11px;width: 30px;text-align: center;}
   	/*.line-items .line-item-row__qty{width: 50px;}
   	.line-items .line-item-row__code{width: 62px;}
   	.line-items .line-item-row__price{width: 95px;}
   	.line-items .line-item-row__discount,.line-items .line-item-row__tax{width: 85px;}
   	.line-items .line-item-row__amount{width: 100px;}*/
   	.line-items .line-item-row__name{text-align: left;} 
    .line-items tbody td.line-item-row__name h3 {font-size: 13px;line-height: 16px;margin-bottom: 3px;color: #266a95;}
    .line-items tbody td.line-item-row__name p {font-size: 10px;line-height: 14px;}
    .line-items tbody td span{font-size: 10px;color: #5e5e5e;line-height: 14px;}

    .line-items tbody tr.shipping-rate-row td {padding-top: 5px;padding-bottom: 5px;line-height: 30px;}
    .line-items tbody tr:last-child td {border-bottom: 1px solid #e3e6ea;}
    .line-items tr.shipping-rate-row td.invoice-label {padding-right: 52px;}
    .summary>td {padding-bottom: 20px;}
    .summary .amounts {width: 479px;float: right;color: #06263a;}
    .summary .amounts .tax-summaries {margin-bottom: 15px;table-layout: fixed;border-collapse: separate;width: 100%;}
    .summary .amounts .tax-summaries tr:last-child td:first-child, .summary .amounts .tax-summaries tr:last-child td.tax-row__percent {border-bottom: none;}
    .summary .amounts .tax-summaries td {font-size: 12px;line-height: 18px;padding: 5px 3px;}
    .summary .amounts .tax-summaries td.invoice-label {text-align: right;border-right: none;}
    .summary .amounts .tax-summaries td:first-child {background-color: #fff;}
    .summary .amounts .tax-summaries td {text-align: right;border-right: 1px solid #e3e6ea;font-weight: 600;background-color: #fafafa;}
    .summary .amounts .tax-summaries tr:last-child td {border-bottom: 1px solid #e3e6ea;}
    .summary .amounts .amounts_row{font-size: 13px;}
    .summary .amounts .amounts_row span.invoice-label {width: 195px;color: #06263a;float: left;font-weight: 600;}
    .summary .amounts .amounts_row span {padding: 1px 7px 1px 3px;display: block;text-align: right;}
    .summary .amounts .amounts_row span.amount {width: calc(100% - 215px);float: right;font-weight: 600;}
    .document-terms-signatures td {padding: 20px 0 15px 0;color: #3a3030;border-top: 1px solid #e3e6ea;}
    .document-terms-signatures.one-signature .signatures {width: 25%;float: right;margin-left: 20px;}
    .document-terms-signatures.one-signature .signatures .signature {width: 100%;float: right;}
    .document-terms-signatures .signatures .signature h4 {border-top: 1px solid #e3e6ea;padding-top: 10px;padding-left: 3px;margin-top: 65px;color: #072d45;font-weight: 600;margin-bottom: 10px;font-size: 13px;}